<div class="container-fluid">
  <div class="row g-2">
    <div class="col-sm-12 col-lg-8">
      <mat-card>
        <mat-card-title>1</mat-card-title>
        <mat-card-content>
          <com-material-item></com-material-item>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-lg-4">
      <mat-card>
        <mat-card-title>2</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-card-title>3</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
