<div class="container-fluid">
  <div class="row g-2">
    <div class="col-sm-12 col-lg-8">
      <mat-card>
        <mat-card-title>Item1</mat-card-title>
        <mat-card-content class="mt-4">
          <div class="grid-box">
            <ng-container *ngFor="let item of src1">
              <com-material-item [model]="item"></com-material-item>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-lg-4">
      <mat-card>
        <mat-card-title>Item2</mat-card-title>
        <mat-card-content class="mt-4">
          <div class="grid-box">
            <ng-container *ngFor="let item of src2">
              <com-material-item [model]="item"></com-material-item>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-card-title>Item3</mat-card-title>
        <mat-card-content class="mt-4">
          <div class="grid-box">
            <ng-container *ngFor="let item of src3">
              <com-material-item [model]="item"></com-material-item>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
