@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to left, #56ccf2, #2f80ed);
}

.board {
  width: 360px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login-form {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login-field {
  position: relative;
  padding: 20px 0px;
}

.login-icon {
  position: absolute;
  top: 24px;
  color: #2f80ed;
}

.login-input {
  border: none;
  border-bottom: 1px solid #d1d1d4;
  padding: 5px;
  padding-left: 25px;
  background: none;
  font-weight: 600;
  transition: 0.3s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #4895ef;
}

.login-button {
  font-size: 18px;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #bbdefb;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 150px;
  color: #4cc9f0;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:active,
.login-button:focus,
.login-button:hover {
  outline: none;
  border: 1px solid #00b4d8;
}
