<div class="container">

  <mat-card class="width-100">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div style="display: block">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="width-100">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div style="display: block">
        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>

</div>
